body{
background-color: rgb(227, 104, 26);
font-family: fantasy;
font-size: 2rem;
}

.calculator-display{
min-height: 100px;
background-color: black;
text-align: right;
padding-top: 20px;
padding-right: 10px;
}

.calculator-display-top{
color: rgb(65, 65, 64);
margin: 0;
font-size: 1rem;
min-height: 30px;
}

.calculator-display-bottom{
color: #ffffff;
}


.parent{
min-width: 50%;
}
